@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');
/*'Roboto', sans-serif*/



*{box-sizing: border-box; margin: 0; padding: 0;}

/*COMIENZA de 320 a 500px*/

@media (min-width:320px) and (max-width:500px){

.navbar{
        background:linear-gradient(10deg,
        rgb(255, 255, 255) 20%, rgba(239, 243, 6, 0.689) 20% 40%, rgba(27, 160, 4, 0.728) 40% 60%, rgba(6, 37, 129, 0.769) 60% 80%, rgba(255, 0, 0, 0.749) 80%, black );
    }
.nav-link {font-family:'Roboto', sans-serif; font-size: 1.2rem; color:rgb(7, 7, 7);}
    
.nav-link:hover{
        font-size: 1.5rem;
        color: rgb(119, 119, 219);
    }

*{box-sizing: border-box; margin: 0; padding: 0;}

html{ font-size: 62.5%;}

/*Comienza el ESTILO DEL INDEX.HTML*/

/*FOOTER GENERALIZADO*/

    
footer .navegacionFooter nav{
    height:6vh;
    margin-top: 2rem;
}
footer .navegacionFooter nav .lista{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:linear-gradient(10deg,
    rgb(255, 255, 255) 20%, rgba(239, 243, 6, 0.689) 20% 40%, rgba(27, 160, 4, 0.728) 40% 60%, rgba(6, 37, 129, 0.769) 60% 80%, rgba(255, 0, 0, 0.749) 80%, black );
}

footer .navegacionFooter nav ul li{
    list-style:none;
}
footer .navegacionFooter nav ul li a figure{
    padding-top: 0.6rem;
}
footer .navegacionFooter nav ul li a figure img{
width: 3.5rem;
}
/* FINALIZA EL FOOTER  GENERALIZADO*/

/*Contenedor de H1 Y P de inicio - Modificaciones de h1 y p*/
.seccionInicio{
    margin-top: 2rem;
    text-align:center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedorGridInicio .seccionInicio h1{
    font: 1.8rem 'Roboto', sans-serif;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}
.contenedorGridInicio .seccionInicio p{
    text-align: center;
    font: 1.4rem 'Roboto', sans-serif;
    line-height: 2.4rem;
}
/* Finaliza el Contenedor  de h1 y p*/

/*Contenedor de imagenes *keyframes*/

.seccionImagenInicio .carrusel{
    width: 95%;
    margin:auto;
    overflow:hidden;
}
.carrusel ul {
    text-align: center;
    padding: 0;
    display: flex;
    width: 200%;
    animation: cambio 20s infinite;
    justify-content: center;
    align-items: center;
}
.carrusel li{ 
    width: 100%;
    list-style: none;
}

.carrusel li img{ width:30rem;}

@keyframes cambio {
    30% {margin-left: 0;}
    50% {margin-left: 0;}

    50% {margin-left: -100%;} 
    100% {margin-left: -100%}
}
/* Finaliza el Contenedor de Imagenes*/


/*COMIENZA INSTRUCTOR*/
.contenedorGridInstructor{
    margin: 2rem;
}

/*Instroduccion de Instructor*/
.seccionInstructor{
    margin-top: 2rem;
    text-align:center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.seccionInstructor h2{
    font: 1.8rem 'Roboto', sans-serif;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}
.seccionInstructor p{
text-align: center;
font: 1.4rem 'Roboto', sans-serif;
line-height: 2.4rem;
}
/*DISEﾃ前 DE LAS TARJETAS CONTENEDORAS DE INSTRUCTOR */

.contenedorGridInstructor .curriculumInstructor .tarjeta{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    border: 0.1rem solid black;
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 5rem;
}
.contenedorGridInstructor .curriculumInstructor .tarjeta:hover
{
border: 0.1rem solid rgb(14, 14, 14);
box-shadow: 0.3rem 0.3rem 1rem 0.3rem rgba(56, 137, 212, 0.991);
}


.contenedorGridInstructor .curriculumInstructor div li{ 
    list-style: none;
    margin-bottom: 2rem;
    font: 1.4rem 'Roboto', sans-serif;
    text-transform: uppercase;
}
.contenedorGridInstructor .curriculumInstructor div li:hover{
    font: 1.7rem 'Roboto', sans-serif;
}

.contenedorGridInstructor .curriculumInstructor div img{
    width:100%;

    border-radius: 1rem;
}

/*Finaliza Instructor*/

/*Comienza estilo para html EVENTOS*/

/*DISEﾃ前 CARD CONTENEDORAS DE EVENTOS */

.contenedorGridEventos .seccionEventos{
    margin-top: 2rem;
    text-align:center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.contenedorGridEventos .seccionEventos h1{
    font: 1.8rem 'Roboto', sans-serif;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}
.contenedorGridEventos .seccionEventos p{
    font: 1.4rem 'Roboto', sans-serif;
    line-height: 2.4rem;
}

/*Contenedor de imagenes *keyframes* HTML EVENTOS*/

.seccionImagenEventos .carruselEventos{
    width: 95%;
    margin:auto;
    overflow:hidden;
}
.carruselEventos ul {
    text-align: center;
    padding: 0;
    display:flex;
    width: 400%;
    animation: cambio 20s infinite;
    justify-content: center;
}
.carruselEventos li{ 
    width: 100%;
    list-style: none;
}

.carruselEventos li:last-child img{
    width: 30rem;
}

.carruselEventos li img{ width:16rem; border-radius:2rem;}

@keyframes cambio {
    20% {margin-left: 0;}
    40% {margin-left: 0;}

    45% {margin-left: -100%;}
    60% {margin-left: -100%;}

    65% {margin-left: -200%;} 
    80% {margin-left: -200%;}

    85% {margin-left: -300%;} 
    100% {margin-left: -300%;}
}

/*Contenedor (IMAGENES Y PARRAFOS) de las Cards del html EVENTOS*/

.gridCardEventos{
    margin:2rem 2rem;
    border:0.12 solid rgb(236, 8, 8);
    border-radius: 0.8rem;
    display: grid;
    grid-template-areas:"imagen titulo"
                        "imagen parrafo"                 
}                   

.gridCardEventos .imagenCardEventos{
grid-area:imagen;
}

.gridCardEventos .imagenCardEventos figure{
    width:12rem;
    margin-top: 2rem;
    padding:1rem; 

}

.gridCardEventos .imagenCardEventos figure img{
    width: 100%;  
    border-radius: 0.8rem;
    box-shadow: 0.2rem  0.4rem 0.4rem 0.5rem black;

}

.gridCardEventos .imagenCardEventos figure img{
    width: 100%;  
    border-radius: 0.8rem;
    box-shadow: 0.2rem  0.4rem 0.4rem 0.5rem black;
}

.gridCardEventos .imagenCardEventos figure img:hover{
border: 0.1rem solid rgb(14, 14, 14);
box-shadow: 0.3rem 0.3rem 1rem 0.3rem rgba(56, 137, 212, 0.991);
}

.gridCardEventos .tituloCardEventos{
    display:flex ;
    justify-content:center;
    align-items: center;
    grid-area: titulo; 
}

.gridCardEventos .tituloCardEventos h2 {
    font:1.2rem 'Roboto', sans-serif;
    margin-top: 1rem;
    color: black;    
}

.gridCardEventos .parrafoCardEventos{
    display:flex ;
    justify-content: flex-start;
    align-items: center;
    grid-area: parrafo;
    padding: 0.5rem;
}

.gridCardEventos .parrafoCardEventos p{
text-align: center;
font: 1rem 'Roboto', sans-serif;
line-height: 1.8rem;
color: black;


}

/*FINALIZA EL ESTILO DEL HTML EVENTOS*/


/*COMIENZA EL ESTILO DE SEDE HTML*/
.contenedorGridSede .seccionSede{
margin-top: 2rem;
text-align:center;
display: flex;
flex-direction: column;
justify-content: center;
padding: 1rem;
}

.contenedorGridSede .seccionSede h2{
    font: 1.8rem 'Roboto', sans-serif;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}
.contenedorGridSede .seccionSede p{
    font: 1.4rem 'Roboto', sans-serif;
    line-height: 2.4rem;
}

.contenedorGridSede .mapaSede{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.contenedorGridSede .mapaSede iframe{
    border-radius: 2rem;
    border: 0.3rem solid black;
    margin: 1rem 1.6rem 2rem 1.6rem;
}

.contenedorGridSede .datosSede ul{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:0;
}

.contenedorGridSede .datosSede ul li{
    list-style: none;
    margin-bottom: 2rem;
    font: 1.4rem 'Roboto', sans-serif;
    text-transform: uppercase;
}
/*FINALIZA EL ESTILO DE SEDE*/


/*Comienza el estilo de CONTACTO*/

.contacto { margin:2rem;}

.imagenContacto figure{ 
    display:flex; 
    justify-content: center;
    align-items: center;}

.imagenContacto figure img{
    width:26rem;

}

}

/*FINALIZA EL MEDIA DE 320 PX A 500PX*/


/*COMIENZA EL MEDIA DE  501PX A 1000PX*/

/* PAGINA INICIO E INSTRUCTOR*/

@media (min-width:501px) and (max-width:1000px){

*{box-sizing: border-box; margin: 0; padding: 0;}

html{ font-size: 62.5%;}

/*Estilo propio NavBar*/

.navbar{
background:linear-gradient(10deg,
rgb(255, 255, 255) 20%, rgba(239, 243, 6, 0.689) 20% 40%, rgba(27, 160, 4, 0.728) 40% 60%, rgba(6, 37, 129, 0.769) 60% 80%, rgba(255, 0, 0, 0.749) 80%, black );
}

.nav-link {
    font: 2rem 'Roboto', sans-serif; 
    color:rgb(7, 7, 7);}

.nav-link:hover{
    font-size: 2.2rem;
    color: rgb(119, 119, 219);
}
/*FINALIZA EL Estilo propio NavBar*/

/*FOOTER GENERALIZADO*/

/*Comienza el estilo del Footer Generalizado*/
footer .navegacionFooter{
    margin-top: 4rem;
}
footer .navegacionFooter nav{
    height:6vh;
   
}
footer .navegacionFooter nav .lista{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:linear-gradient(10deg,
    rgb(255, 255, 255) 20%, rgba(239, 243, 6, 0.689) 20% 40%, rgba(27, 160, 4, 0.728) 40% 60%, rgba(6, 37, 129, 0.769) 60% 80%, rgba(255, 0, 0, 0.749) 80%, black );
}

footer .navegacionFooter nav ul li{
    list-style:none;
}
footer .navegacionFooter nav ul li a figure{
    padding-top: 1rem;
}
footer .navegacionFooter nav ul li a figure img{
width: 5rem;
}

/* FINALIZA EL FOOTER  GENERALIZADO*/

/*--------------*/

/*Contenedor de H1 Y P de inicio - Modificaciones de h1 y p*/

.seccionInicio{
    margin-top: 2rem;
    text-align:center;
    padding:1rem;
    display: flex;
    flex-direction:column;
    justify-content:center;
}

.contenedorGridInicio .seccionInicio h1{
    font: 2.5rem 'Roboto', sans-serif;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.contenedorGridInicio .seccionInicio p{
    text-align: center;
    font: 2rem 'Roboto', sans-serif;
    line-height: 3.3rem;
}
/* Finaliza el Contenedor  de h1 y p*/

/*Contenedor de imagenes *keyframes*/

.seccionImagenInicio .carrusel{
    width: 95%;
    margin:auto;
    overflow:hidden;
}
.carrusel ul {
    text-align: center;
    padding: 0;
    display: flex;
    width: 200%;
    animation: cambio 20s infinite;
    justify-content: center;
    align-items: center;
}
.carrusel li{ 
    width: 100%;
    list-style: none;
}

.carrusel li img{ width:40rem;}

@keyframes cambio {
    20% {margin-left: 0;}
    50% {margin-left: 0;}

    50% {margin-left: -100%;} 
    100% {margin-left: -100%}
}
/* FINALIZA EL ESTILO DE Contenedor de imagenes *keyframes*/

/*FINALIZA EL ESTILO DE HTML INDEX*/


/*Comienza el estilo de Instructor */

.contenedorGridInstructor{
    margin: 4rem;

}

/*Instroduccion de Instructor*/
.seccionInstructor{
    margin-top: 2rem;
    text-align:center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.seccionInstructor h2{
    font: 2.5rem 'Roboto', sans-serif;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}
.seccionInstructor p{
text-align: center;
font: 2rem 'Roboto', sans-serif;
line-height: 3.5rem;
}
/*DISEﾃ前 DE LAS TARJETAS CONTENEDORAS DE INSTRUCTOR */

/*Grid CurriculumInstructor*/
.contenedorGridInstructor .curriculumInstructor{
   display: grid;
   grid-template-areas: "capacitacion capacitacion "
                        "competidorDos instructor";
grid-gap:2rem;
grid-row: 3rem;
    
    
}

.contenedorGridInstructor .curriculumInstructor .capacitacion{
    grid-area: capacitacion;
}

.contenedorGridInstructor .curriculumInstructor .instructor{
    grid-area: instructor;
}
.contenedorGridInstructor .curriculumInstructor .competidorDos{
    grid-area: competidorDos;
}
.contenedorGridInstructor .curriculumInstructor .tarjeta {
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
   border: 0.4rem  black solid;
   border-radius:3rem;

}
.contenedorGridInstructor .curriculumInstructor .tarjeta:hover
{
border: 0.5rem solid rgb(14, 14, 14);
box-shadow: 0.3rem 0.3rem 1rem 0.3rem rgba(56, 137, 212, 0.991);
}

.contenedorGridInstructor .curriculumInstructor div li{ 
    list-style: none;
    margin-bottom: 2rem;
    font: 1.6rem 'Roboto', sans-serif;
    text-transform: uppercase;
}

.contenedorGridInstructor .curriculumInstructor div li:hover{
    font: 2rem 'Roboto', sans-serif;
}

.contenedorGridInstructor .curriculumInstructor div figure{
    width: 100%;
    padding: 1rem;
}

.contenedorGridInstructor .curriculumInstructor div img{
    width:100%;
    border-radius: 1rem;
    border: 0.4rem  black;
}

/*Finaliza Instructor*/

}


@media (min-width:1001px)  {
    *{box-sizing: border-box; margin: 0; padding: 0;}
    
    html{ font-size: 62.5%;}
    
    /*Estilo propio NavBar*/
    
    .color{
    height: 8vh;
    background:linear-gradient(10deg,
    rgb(255, 255, 255) 20%, rgba(239, 243, 6, 0.689) 20% 40%, rgba(27, 160, 4, 0.728) 40% 60%, rgba(6, 37, 129, 0.769) 60% 80%, rgba(255, 0, 0, 0.749) 80%, black );
    }
    
    .nav-link {
        font: 3rem 'Roboto', sans-serif; 
        color:rgb(7, 7, 7);
    transition: 800ms all;}
    
    .nav-link:hover{
        font-size: 3.2rem;
        color: rgb(23, 23, 215);
    }
    .nav-item{ margin-right: 2rem; padding-left: 6.3rem;}
    /*FINALIZA EL Estilo propio NavBar*/
    
    /*FOOTER GENERALIZADO*/
    
    /*Comienza el estilo del Footer Generalizado*/
    footer .navegacionFooter{
        margin-top: 4rem;
    }
    footer .navegacionFooter nav{
        height:5vh;
       
    }

    footer .navegacionFooter nav .lista{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background:linear-gradient(10deg,
        rgb(255, 255, 255) 20%, rgba(239, 243, 6, 0.689) 20% 40%, rgba(27, 160, 4, 0.728) 40% 60%, rgba(6, 37, 129, 0.769) 60% 80%, rgba(255, 0, 0, 0.749) 80%, black );
    }
    
    footer .navegacionFooter nav ul li{
        list-style:none;
    }
    footer .navegacionFooter nav ul li a figure{
        padding-top: 1rem;
    }
    footer .navegacionFooter nav ul li a figure img{
    width: 5.5rem;
    }
    
    /* FINALIZA EL FOOTER  GENERALIZADO*/
    
    /*--------------*/
    
    /*Contenedor de H1 Y P de inicio - Modificaciones de h1 y p*/
    
    .seccionInicio{
        margin-top: 5rem;
        text-align:center;
        padding:4rem;
        display: flex;
        flex-direction:column;
        justify-content:center;
    }
    
    .contenedorGridInicio .seccionInicio h1{
        font:4rem 'Roboto', sans-serif;
        margin-bottom: 2.5rem;
        text-transform: uppercase;
    }
    .contenedorGridInicio .seccionInicio p{
        text-align: center;
        font: 2.6rem 'Roboto', sans-serif;
        line-height: 6rem;
    }
    /* Finaliza el Contenedor  de h1 y p*/
    
    /*Contenedor de imagenes *keyframes*/
    
    .seccionImagenInicio .carrusel{
        width: 95%;
        margin:auto;
        overflow:hidden;
    }
    .carrusel ul {
        text-align: center;
        padding: 0;
        display: flex;
        width: 200%;
        animation: cambio 20s infinite;
        justify-content: center;
        align-items: center;
    }
    .carrusel li{ 
        width: 100%;
        list-style: none;
    }
    
    .carrusel li img{ width:40rem;}
    
    @keyframes cambio {
        20% {margin-left: 0;}
        50% {margin-left: 0;}
    
        50% {margin-left: -100%;} 
        100% {margin-left: -100%}
    }
    /* FINALIZA EL ESTILO DE Contenedor de imagenes *keyframes*/
    
    /*FINALIZA EL ESTILO DE HTML INDEX*/
    
    
    /*Comienza el estilo de Instructor */
    
    .contenedorGridInstructor{
        margin: 5rem;
    
    }
    
    /*Instroduccion de Instructor*/
    .seccionInstructor{
        margin-top: 2rem;
        text-align:center;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .seccionInstructor h2{
        font:4rem 'Roboto', sans-serif;
        margin-bottom: 2rem;
        text-transform: uppercase;
    }
    .seccionInstructor p{
        text-align: center;
        font: 2.6rem 'Roboto', sans-serif;
        line-height: 8rem;
    }
    /*DISEﾃ前 DE LAS TARJETAS CONTENEDORAS DE INSTRUCTOR */
    
    /*Grid CurriculumInstructor*/
  
    .contenedorGridInstructor .curriculumInstructor{
        width: 100%;
       display: grid;
        grid-gap:2rem;
        grid-template-areas: "instructor competidorDos capacitacion ";
        
    }
    
    .contenedorGridInstructor .curriculumInstructor .capacitacion{
        grid-area: capacitacion;
        
    }

    .contenedorGridInstructor .curriculumInstructor .instructor{
        grid-area: instructor;
       
    }
    .contenedorGridInstructor .curriculumInstructor .competidorDos{
        grid-area: competidorDos;
        
    }
    .contenedorGridInstructor .curriculumInstructor .tarjeta{
        display: flex;
        justify-content:center;
        align-items: center;
        text-align: center;
          
       
        border-radius:3rem

    }
 
    
    .contenedorGridInstructor .curriculumInstructor div li{ 
        list-style: none;
        margin-top: 0.2rem;
        margin-bottom: 4rem;
        font: 2.3rem 'Roboto', sans-serif;
    
    }
    .contenedorGridInstructor .curriculumInstructor div img:hover {
        border: 0.1rem solid black;
        box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 255, 0.37) ;
        
    }
    
    .contenedorGridInstructor .curriculumInstructor div img{
        width:34rem;
        border-radius: 1rem;
        border: 0.6rem solid black;
    }
    
    /*Finaliza Instructor*/
}
    















